body {
    background-color: pink;
}

#menu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#box {
    width: 300px;
    text-align: center;
}

#confirmar {
    width: 100px;
    height: 30px;
    box-shadow: -5px -5px rgb(123, 123, 123);
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
    position: relative;
    left: 35px;
    color: white
}

menu {
    font-family: cursive;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    left: -20px;
}

h1 {
    color: rgb(217, 83, 79);
}

.toggle {
    position: relative;
    top: -45px;
    left: 60px;
    display: inline-block;
    width: 50px;
    height: 22px;
    background-color: rgb(92, 92, 92);
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(217, 83, 79);
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
    left: 26px;
}

.checkbox:checked+.toggle {
    background-color: rgb(201, 201, 201);
}

.checkbox {
    display: none;
}